@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

@layer utilities {
  .writing-vertical {
    writing-mode: vertical-rl;
    rotate: 180deg;
  }
}
